@model  Proyecto_Tickets.Models.ViewsModels.AddSolucionViewModel
@{
    ViewBag.Title = "AddSolucion";
    Layout = "~/Views/Shared/_LayoutDiseño.cshtml";
}


<main>

    @using (Html.BeginForm("AddSolucion", "Tickets", FormMethod.Post, new { role = "form", Id = "frm", @Class = " form" }))
    {
        <div class="div_formulario">
            <table class="table">
                <tr>
                    <td> <label for="descripción_en_pasos"> Descripción en Pasos</label></td>
                    <td> @Html.TextAreaFor(d => d.Descripcion, new { placeholder = "Escribe aqui la solución", cols = "200", rows = "10" })</td>

                    <td> <label for="fecha_solucion"> Fecha </label></td>
                    <td> @Html.TextBoxFor(d => d.fecha, new { @type="date" })</td>
                </tr>
            </table>
            <table class="table">
                <tr>
                    <td><button class="button" type="submit" name="button"> Guardar</button></td>
                </tr>
            </table>
        </div>
    }
</main>


@section scripts
{
    <script>


    $(document).ready(function ()
    {
        $('.sidebar-menu').tree();

        $("#frm").submit(function (e)
        {
            e.preventDefault();

            url = "@Url.Content("~/Tickets/AddSolucion")"
            parametros = $(this).serialize();

            $.post(url, parametros, function (data) {

                if (data =="1")
                {
                    alert('La solución se guardo exitosamente')
                        document.location.href = "@Url.Content("~/Tickets/Add_Ticket")"

                }
            })
        })
    })
    </script>
}