.aside_vertical{
  background-color: #000033;
  position: fixed;
  width: 20%;
  height: 100%;
  color: white;
}


.ul a{
  color: white;
  line-height: 2.0;
  text-decoration: none;
  font-size: 20px;

}

.ul a:hover{
  background-color: #b3b3ff;
}

ul a:active{
  background-color: #b3b3ff;
}

/*Sidebar*/
.treeview-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 5px;
}

.treeview-menu .treeview-menu {
    padding-left: 20px;
}

.treeview-menu > li {
    margin: 0;
}



.treeview > ul.treeview-menu {
    overflow: hidden;
    height: auto;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.treeview.menu-open > ul.treeview-menu {
    overflow: visible;
    height: auto;
}