@model Proyecto_Tickets.Models.TableViewsModels.Buscar

@{
    ViewBag.Title = "SearchProblemas";
    Layout = "~/Views/Shared/_LayoutDiseño.cshtml";
}

<main>
    <div class="div_formulario">


        <table class="table">
            @using (Html.BeginForm("Especifico", "Problemas", FormMethod.Post, new { role = "form", Id = "frm", @Class = " form" }))
            {
            <tr>


                @Html.AntiForgeryToken()
                @Html.ValidationMessage("error", new { @class = "text-danger" })
                <td style="width:600px"> @Html.TextBoxFor(d => d.Nombre_Problema, new { placeholder = "Escribe un problema", })</td>
                <td style="width:20px">
                <input type="submit" class="btn-success" value="Buscar" style="background-color: #008CBA; float:left; border-radius:10px; border-color:#008CBA;">
                </td>


            </tr>
            }

                <tr>
                    <td>
                        <button style="background-color: #008CBA; border-color: #008CBA; color: white; font-size: 20px; border-radius: 4px;"
                                onclick="location.href='@Url.Content("~/Problemas/SeeProblemas/")'">
                            Ver Todos
                        </button>
                    </td>
                </tr>
</table>
        
    </div>
</main>

@section scripts
{
    <script>

      $(document).ready(function ()
      {
        $('.sidebar-menu').tree();
     
    })
    </script>
}